body {
    background-color: lightgreen;
}

@font-face {
    font-family: "AlexBrush-Regular";
    src: url("fonts/AlexBrush-Regular.ttf") format("truetype");
}

form > input {
    width: 90%;
}

table {
}

.title {
    font-family: "AlexBrush-Regular";
    font-size: 300%;    
}

#mostrarFecha {
    float: right;
}

#log {
    float: right;
    text-align: center;
    color: white;
    margin-left: 50px;
    height: 80px;
    width: 100px;
    background-color: #009900;
    border-radius: 15px;
}

input, select {
    color: black;
}

#nuevoCriador {
    margin-left: 50px;
}

#nuevoPajaro {
    margin-left: 50px;
}

#nuevaCollera {
    margin-left: 50px;
}

#nuevaCria {
    margin-left: 50px;
}

#main {
    margin: auto;
    width: 50%;
    height: 50%;
}

.jumbotron {
    background-color: #66ff66;
    border-radius: 15px;
}

#logUser, #logPass {
    margin: auto;
    width: 50%;
}

#submit {
    margin-top: 23px;
    margin-left: 320px;
    margin-bottom: -25px;
}